.main-title {
    color: var(--lightgrass) !important;
    font-size: 60px;
    text-shadow: 0 1px var(--darkestgrass), 0 2px var(--darkestgrass), 0 3px var(--darkestgrass), 0 4px var(--darkestgrass), 0 5px var(--darkestgrass), 0 6px var(--darkestgrass), 0 7px var(--darkestgrass), 0 8px var(--darkestgrass);
}

.second-title {
    color: var(--darkestgrass) !important;
    font-size: 25px;
}

.thoughts {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center; 
    flex-direction: column;
}

.credits {
    color: var(--darkestgrass);
    background-color: var(--lightgrass);
    padding: 5px;
    font-size: 1.8vw;
    position: fixed;
    bottom: 0;
    right: 20px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin: 0 auto;
    background-color: var(--lightgrass);
    border-left: 2px solid var(--darkestgrass);
    border-right: 2px solid var(--darkestgrass);
    border-top: 2px solid var(--darkestgrass);
    box-shadow: 0 8px var(--darkestgrass); 
}

.credits:hover {
    background-color: var(--hover);
    cursor: pointer;
}

a {
    text-decoration: none;
}